@media screen and (max-width: 992px) {
    .search-title {
        font-size: 1.5em ;
    }
    .calitate {
        border: 0;
    }
    .news-item {
        height: 100px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        padding: 15px 0;
    }
    .search {
        padding: 0 0 15px 0;
    }
    .user-bar {
        width: auto;
    }
    .user-bar-btn {
        width: auto;
        text-align: right;
    }
    .user-bar-btn > i {
        float: none;
    }
    .dropdown-menu {
        left: auto;
        right: 0;
    }
    .search-title {
        display: none;
    }
    .search-col {
        display: block;
        width: 100%;
    }
    .footer h3 {
        cursor: pointer;
    }
    .footer h3:after {
        float: right;
        content: '\f0d7';
        font-family: 'FontAwesome';
    }
    .footer-nav {
        display: none;
    }
    .sic-socials {
        text-align: center;
    }
    #bus-template-wrap {
        overflow-x: scroll;
        cursor: move;
    }
    #si-traseu {
        display: block;
        padding: 15px;
        background: #FFFFFF;
        border: 1px solid #CC3333;
    }
    #si-traseu:after {
        float: right;
        content: '\f0d7';
        font-family: 'FontAwesome';
    }
    .si-traseu {
        display: none;
        margin-left: 30px;
    }
}