

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i&subset=cyrillic,latin-ext');

body {
    font-family: 'PT Sans', sans-serif !important;
}

/* Options */
.btn-black {
    display: table;
    margin: 5px auto;
    padding: 5px 15px;
    background: #FFFFFF;
    color: #444444;
    text-align: center;
    border: 1px solid #444444;
}
.btn-black:hover {
    background: #444444;
    color: #FFFFFF;
    text-decoration: none;
}
.top-bar {
    padding: 8px 0;
    font-size: 13px;
    background: #EEEEEE;
    color: #444444;
}
.center-title {
    display: table;
    margin: 15px auto;
    padding: 15px 0;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 4px solid #fbb117;
}
.top-lang {
    float: right;
}
#top-lang {
    margin: 0 0 0 15px;
}
.top-lang a {
    color: #444444;
}

.header {
    padding: 25px 0;
    border-bottom: 1px solid #EEEEEE;
}
.header-logo {
    margin: 5px 0;
    display: block;
}
.header-logo > img {
    height: 40px;
}
.navigation {
    background: #005699;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation ul > li {
    display: inline-block;
}
.navigation ul > li > a {
    display: block;
    margin: 15px 0;
    padding: 0px 15px;
    font-size: 14px;
    color: #FFFFFF;
    border-right: 1px dashed #FFFFFF;
}
.navigation ul > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.navigation ul > li > ul {
    display: none;
}
.navigation ul > li:last-child > a {
    border: 0;
}
.header-item-ico {
    float: left;
    font-size: 36px;
    color: #fbb117;
}
.header-item-text {
    float: left;
    margin: 0 0 0 15px;
    color: #444444;
}	
.header-item-text > p {
    margin: 5px 0 0px 0;
    font-size: 12px;
}
.header-item-text > strong {
    font-size: 15px;
}
.header-item-phone {
    margin: -20px 0 0 0;
    color: #444444;
    text-align: right;
}
.header-item-phone > p {
    margin: 10px 0 0 0;
    font-size: 12px;
}
.header-item-phone > a {
    color: #444444;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px dashed #FFFFFF;
}
.header-item-phone > a:hover {
    color: #fbb117;
    text-decoration: none;
    border-bottom: 1px dashed #fbb117;
}
.user-panel {
    float: right;
    position: relative;
}	
.user-panel > p {
    margin: 0 0 5px 0;
}
.user-panel p {
    margin: 0;
}
.user-panel input {
    display: table;
    margin: 0;
    padding: 2px 0px;
    border: 0;
    border-bottom: 1px solid #C6D6D9;
}	
.user-panel .btn-black {
    display: block;
}

.home-search {
    background: #FFFFFF url(../images_old/search_bg.jpg) top repeat-x;
    min-height: 300px;
}	
.home-search-inn {	
    margin: 0px 0 0 0;
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.36);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.36);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.36);
    overflow: hidden;
    min-height: 300px;
    z-index: 99;
}
.home-search .search-form {
    position: absolute !important;
    top: 0px;
    left: 0;

}
.home-search .owl-theme .owl-controls {
    display: none !important;
}
.search-slide {
    height: 220px;
    overflow: hidden;
}
.search-slide-item img {
    width: 100%;
}


.search-form {
    margin: 0 -15px;
}
.search-inputs {
    position: relative;
    padding: 15px;
}
.search-form-title {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    padding: 15px 25px;
    background: #FFFFFF; 
    text-align: center;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}
.search-item {
    position: relative;
}
.search-item label,
.search-item input,
.search-item select {
    display: block;    
}
.search-item label {
    font-weight: normal;
}
.search-item input,
.search-item select {
    width: 100%;
    border: 0;
    padding: 2px 25px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.search-item input:focus,
.search-item select:focus {
    outline: none;
}
.search-item:before {
    position: absolute;
    left: 15px;
    top: 26px;
    content: "\f041";
    font-family: 'FontAwesome';
    display: block;
    width: 26px;
    height: 26px;
    z-index: 2;
    color: #fbb117;
}
.search-item:after {
    position: absolute;
    right: 0px;
    top: 26px;
    content: "\f0d7";
    font-family: 'FontAwesome';
    display: block;
    width: 26px;
    height: 26px;
    z-index: 2;
    color: #444444;
}
.si-data {
    padding-right: 0;
}
.si-data:before {
    content: "\f073";
}
.si-data:after {
    display: none;
}
.si-persons {
    
}
.si-persons:before {
    content: "\f183";
}
.si-persons:after {
    display: none;
}
.si-btn {
    
}
.si-btn:before, 
.si-btn:after {
    display: none;
}
.si-btn button {
    display: table;
    margin: 15px auto;
    width: 100px;
    height: 35px;
    background: #005699;
    color: #FFFFFF;
    border: 0;
}
.si-btn button i {
    margin: 0 10px 0 0;
}






.home-directii {
    margin: 30px 0;
}
.hd-item {
    margin: 15px 0;
    font-size: 16px;
}
.hd-thumb {
    margin: 0 0 -10px 0;
    height: 220px;
    overflow: hidden;
}
.hd-thumb img {
    width: 100%;
}
.hd-title {
    color: #444444;
    text-align: center;
}
.hd-title i {
    margin: 0 15px;
}
.hd-price {
    margin: 5px 0 0 0;
    text-align: center;
    color: #CC3333;
    font-size: 12px;
    font-weight: bold;
}


.home-news {
    margin: 60px 0 30px 0;
    padding: 0 0 30px 0;
    background: #f9f9f7;
}
.hn-item:hover .hn-date {
    background: #ffcb05;
}
.hn-item {
    display: block;
    color: #444444;
    background: #FFFFFF;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.2);
box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.2);
}
.hn-date {
    margin: 15px;
    padding: 8px;
    border: 2px solid #ffcb05;
    border-radius: 5px;
    display: inline-block;
    width: 25%;
    text-align: center;
    transition: .3s all;
}
.hn-date time {
    display: block;
    font-size: 40px;
    font-weight: 700;
}
.hn-details {  
    margin: 15px 0 0 0;
    float: right;
    vertical-align: top;
    display: inline-block;
    width: 65%;
}
.hn-details strong {
    display: block;
    margin: 0 0 15px 0;
}
.hn-details p {
    color: #777777;
}


.home-seo {
    font-size: 12px;
    color: #777777;
}
.home-seo .center-title {
    color: #000000;
}

.search-counter {
    margin: 40px 0 20px 0;
}
.search-description {
    margin: 60px 0 30px 0;
}
.search-description h1 {
    text-transform: uppercase;
}
.search-results {
    margin: 15px auto;
}
.search-row {
    
}
.search-row:hover {
    
}
.search-disable .row {
    opacity: .3;
}
.search-id {
    margin: 0;
    padding: 15px;
    border-top: 0 !important;
    border: 1px solid #DDDDDD;
}
.search-id strong,
.search-id span,
.search-id time {
    display: block;
}
.search-id time {
    font-size: 22px;
    font-weight: bold;
}
.search-id strong {
    font-size: 22px;
}
.search-id small {
    color: #777777;
}
.si-head {
    padding: 15px;
    background: #f9f9f7;
    border-bottom: 1px solid #DDDDDD;
}
.sih-item {
    font-size: 13px;
}

.search-price {
    position: relative;
    display: block;
    width: 140px;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #CC3333;
}
.search-price:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #CC3333;
    z-index: -1;
}
.search-id:hover .search-price:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
    background: #CC3333;
}
.search-id:hover .search-price {
    text-decoration: none;
    color: #FFFFFF !important;
}
.search-locuri {
    font-size: 22px;
}
.si-min {
    width: 120px;
}
.si-direction {
    width: 120px;
    font-size: 30px;
    color: #777777;
}

.si-details {
    border-top: 2px dashed #DDDDDD;
    background: #f9f9f7;
    margin: 15px -15px -15px -15px;
    padding: 15px;
    min-height: 370px;
}

.si-send-msg {
    display: block;
    color: #CC3333;
}
.si-traseu {
    margin: 0 0 0 60px;
    padding: 0;
    list-style-type: none;
}
.si-traseu > li {
    position: relative;
    display: block;
    height: 40px;
    font-weight: bold;
}
.si-traseu > li:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    width: 12px;
    height: 12px;
    background: #fbb117;
    border-radius: 50%;
    z-index: 2;
}
.si-traseu > li:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -25px;
    width: 1px;
    height: 40px;
    background: #DDDDDD;
    z-index: 1;
}

.si-traseu > li:first-child:before {
    background: #CC3333;
}
.si-traseu > li:last-child:before {
    background: #CC3333;
}
.si-traseu > li:last-child:after {
    display: none;
}

.si-title {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}
.si-form {
    
}
.si-form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #DDDDDD;
}

.si-model {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.si-model-on {
    display: table;
}
.si-model-col {
    display: table-cell;
    padding: 5px;
    width: 1%
}
.si-model-row {
    
}

.si-model input[type=checkbox] {
    display: none;
}
.si-model-row  label {
    cursor: pointer;
    display: block;
    padding: 5px 0;
    height: 30px;
    border: 2px solid #fbb117;
    background-size: contain;
    text-align: center;
    border-radius: 5px;
}
.si-model-row input[type=checkbox]:checked + label {
    background: #fbb117;
}
.si-disable {
    opacity: .3;
}

.newsletter {
    margin: 30px 0 0 0;
    padding: 15px 0;
    background: #f9f9f7;
    text-align: center;
}
.newsletter form {
    display: block;
    margin: 0 auto;
    width: 400px;
}
.newsletter form input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #EEEEEE;
}
.newsletter form button {
    border: 0;
    padding: 0px 30px;
    background: transparent;
    color: #444444;
    font-size: 30px;
}







/* Bottom BOX */
.bottom-box {
    margin: 60px 0 -60px 0;
    padding: 15px 0;
    background: #005699;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}


/* Footer */
.footer {
    margin: 60px 0 0 0;
    padding: 15px 0;
}
.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-nav > li {
    display: block;
}
.footer-nav > li > a {
    color: #000000;
    font-size: 13px;
}
.footer .sic-socials {
    position: static !important;
    margin: 30px 0 0 0;
}
.footer .sic-socials strong {
    color: #000000;   
}
.subfooter {
    padding: 15px 0;
    background: #f9f9f7;
}
.subfooter strong {
    margin: 0 30px 0 15px;
}
.subsub {
    padding: 15px 0;
}


.sic-socials {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: right;
}
.sic-socials strong {
    display: block;
    color: #FFF;
    font-size: 18px;
}
.sic-socials a {
    display: inline-block;
    margin: 15px 0 0 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #FFFFFF;
    color: #444444;
    border-radius: 50%;
}

.si-details .tickets-info-btns button.btn
{
    display: inline-block;
    width: auto;
}






