@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
}

.backend-page .container {
    max-width: 1400px !important;
    width: 100%;
}
.white-href {
    color: #FFFFFF;
}

/* HEADER */
header {
    padding: 30px 0;
    background: #4D8FAC;
    color: #FFFFFF;
}
.header-logo {
    margin: 0 10px 0 0;
    float: left;
    vertical-align: text-top;
}
.header-logo > img {
    height: 35px;
}
.lang-item {
    padding: 2px 5px;
    margin: 0 5px;
    display: inline-block;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 10px;
}
.lang-item:hover {
    background: #FFFFFF;
    color: #4D8FAC;
    text-decoration: none;
}
.user-bar {
    width: 150px;
    float: right;
}
.user-bar-btn {
    padding: 5px;
    width: 150px;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.user-bar-btn > i {  
    float: left;
    margin: 0 15px 0 0;
    font-size: 30px;
    vertical-align: middle;
}
.user-bar:hover .user-bar-btn {
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

/* Navigation */
.navigation {
    margin: 0 0 40px 0;
    background: #f9f9f7;
    border-bottom: 1px solid #DDDDDD;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
}
.navigation ul > li {
    position: relative;
    display: table-cell;
    width: 1%;
}
.navigation ul > li > a {
    display: block;
    padding: 15px;
    color: #444444;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #DDDDDD;
}
.navigation ul > li:last-child > a {
    border-right: 1px solid #DDDDDD;
}
.navigation ul > li:hover > a {
    text-decoration: none;
    color: #FFFFFF !important;
    background: #444444;
}
.navigation ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 300px;
    border-top: 0;
    border: 1px solid #EEEEEE;
    z-index: 9;
}
.navigation ul > li > ul > li {
    display: block;
    width: 100%;
}
.navigation ul > li > ul > li > a {
    background: #FFFFFF;
    color: #444444;
    text-align: left;
}
.navigation ul > li > ul > li > a:hover {
    background: #4D8FAC;
    color: #FFFFFF !important;
}
.navigation ul > li:hover > ul {
    display: block;
}


/* SEARCH */
.search {
    padding: 30px 0;
    background: #4D8FAC url(../images/icons/ico-cm.png) repeat-x 0% 100%;
    color: #FFFFFF;
}
.search-title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}
.search-form {
    margin: 5% 0;
    display: table;
    width: 100%;
}
.search-col {
    display: table-cell;
    vertical-align: bottom;
}
.search-col-big {
    width: 20%;
}
.search-col-med {
    width: 15%;
}
.search-col-min {
    width: 5%;
}
.search-re {
    padding: 5px 15px;
    background: #FFFFFF;
    color: #444444;
    font-size: 21px;
    text-align: center;
    border-right: 1px solid #EEEEEE;
}
.search-re:hover {
    cursor: pointer;
    background: #f8d90c;
}
.search-form label {
    font-size: 12px;
    font-weight: 300;
}
.search-form input {
    position: relative;
    display: block;
    padding: 10px 45px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 16px 16px;
    border: 0;
    border-right: 1px solid #EEEEEE;
    color: #444444;
    transition: .3s all;
    border-radius: 0;
}
.search-form .select2 {
    width: 100% !important;
}
.search-form select,
.search-form .select2-selection {
    position: relative;
    display: block;
    padding: 11px 45px 10px 45px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 16px 16px;
    border: 0;
    border-right: 1px solid #EEEEEE;
    color: #444444;
    transition: .3s all;
    border-radius: 0;
    box-shadow: 0;
    -webkit-box-shadow: 0;
    
}
.search-form button {
    display: block;
    padding: 10px 15px;
    width: 100%;
    background: #f8d90c;
    border: 0;
    color: #444444;
}
.search-form input:focus,
.search-form select:focus {
    outline: 2px solid #f8d90c;
}
.search-form > .search-col:first-child > input {
    border-radius: 3px 0 0 3px;
}
.search-form > .search-col:last-child > button {
    border-radius: 0 3px 3px 0;
}

.ico-destination {
    background-image: url(../images/icons/ico-destination.png);
}
.ico-calendar {
    background-image: url(../images/icons/ico-calendar.png);
}
.ico-persons {
    background-image: url(../images/icons/ico-persons.png);
}


/* Home content */
.title {
    font-size: 20px;
    font-weight: 700;
    margin: 60px 0;
    text-align: center;
    text-transform: uppercase;
}
.home-content {
    padding: 30px 0;
    background: url(../images/top_shadow.png) repeat-x top;
    border-top: 1px solid #DDDDDD;
    background: #f9f9f7;
}

.home-news {
    
}
.news-item {
    margin: 15px 0;
    padding: 15px;
    display: block;
    color: #444444;
    border: 1px solid #DDDDDD;
}
.news-item:hover {
    color: #CC3333;
    text-decoration: none;
}
.news-item > time {
    display: block;
    color: #777777;
    font-size: 10px;
}
.news-item > strong {
    margin: 5px 0;
    display: block;
    text-transform: uppercase;
}
.news-item > p {
    font-size: 12px;
    color: #777777;
}

.home-calitati {
    padding: 15px 0;
}
.home-calitati .row > div:last-child .calitate {
    border: 0;
}
.calitate {
    margin: 15px 0;
    padding: 0 15px;
    border-right: 1px solid #DDDDDD;
    text-align: center;
}
.calitate > strong {
    display: block;
    margin: 0 0 5px 0;
    font-size: 16px;
}
.calitate:hover {
    color: #4D8FAC;
    cursor: help;
}
.calitate > p {
    font-size: 12px;
}

.home-rute {
    margin: 30px 0;
}
.home-rute-item {
    display: block;
    margin: 15px 0;
    padding: 15px;
    background: #FFFFFF;
    transition: .3s all;
}
.home-rute-item:hover {
    text-decoration: none;
    color: #CC3333;
}
.home-rute-item > strong,
.home-rute-item > span {
    display: block;
}
.home-rute-item > strong {
    margin: 0 0 5px 0;
    font-size: 18px;
    text-transform: uppercase;
}
.home-rute-item > strong > i {
    margin: 0 15px;
}
.home-rute-item > span {
    color: #444444;
    font-size: 12px;
}

.home-text {
    font-size: 12px;
}



/* SEARCH PAGE */
.search-counter {
    margin: 40px 0 20px 0;
}
.search-description {
    margin: 60px 0 30px 0;
    font-size: 12px;
}
.search-description h1 {
    font-size: 22px;
    text-transform: uppercase;
}
.search-results {
    margin: 15px auto;
}
.search-row {
    
}
.search-row:hover {
    
}
.search-disable .row {
    opacity: .3;
}
.search-id {
    margin: 0;
    padding: 15px;
    border-top: 0 !important;
    border: 1px solid #DDDDDD;
}
.search-id strong,
.search-id span,
.search-id time {
    display: block;
}
.search-id time {
    font-size: 22px;
    font-weight: bold;
}
.search-id strong {
    font-size: 22px;
}
.search-id span {
    font-size: 12px;
}
.search-id small {
    color: #777777;
    font-size: 12px;
}
.si-head {
    padding: 15px;
    background: #f9f9f7;
    border-bottom: 1px solid #DDDDDD;
}
.sih-item {
    font-size: 13px;
}

.search-price {
    position: relative;
    display: block;
    width: 140px;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #CC3333;
}
.search-price:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #CC3333;
    z-index: -1;
}
.search-id:hover .search-price:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
    background: #CC3333;
}
.search-id:hover .search-price {
    text-decoration: none;
    color: #FFFFFF !important;
}
.search-locuri {
    font-size: 22px;
}
.si-min {
    width: 120px;
}
.si-direction {
    width: 120px;
    font-size: 30px;
    color: #777777;
}

.si-details {
    border-top: 2px dashed #DDDDDD;
    background: #f9f9f7;
    margin: 15px -15px -15px -15px;
    padding: 15px;
    font-size: 12px;
}
.si-details button.btn {
    display: block;
    width: 100%;
}
.si-send-msg {
    display: block;
    color: #CC3333;
}
.si-traseu {
    margin: 0 0 0 60px;
    padding: 0;
    list-style-type: none;
}
.si-traseu > li {
    position: relative;
    display: block;
    height: 40px;
    font-weight: bold;
}
.si-traseu > li:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    width: 12px;
    height: 12px;
    background: #fbb117;
    border-radius: 50%;
    z-index: 2;
}
.si-traseu > li:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -25px;
    width: 1px;
    height: 40px;
    background: #DDDDDD;
    z-index: 1;
}

.si-traseu > li:first-child:before {
    left: -35px;
    width: 24px;
    height: 24px;
    background: #CC3333;
    border: 2px solid #FFFFFF;
}
.si-traseu > li:last-child:before {
    left: -35px;
    width: 24px;
    height: 24px;
    background: #CC3333;
    border: 2px solid #FFFFFF;
}
.si-traseu > li:last-child:after {
    display: none;
}

.si-title {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}
.si-form {
    
}
.si-form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #DDDDDD;
}

.si-model {
    background: #FFFFFF;
}
.si-model-on {
    display: table;
}
.si-model-col {
    display: table-cell;
    padding: 5px;
    width: 1%;
}
.si-model-row {
    padding: 8px 0;
}

.si-model input[type=checkbox] {
    display: none;
}
.si-model-row  label {
    cursor: pointer;
    display: block;
    padding: 10px 0 0 18px;
    height: 35px;
    border-radius: 3px;
    background: url(../images/bus/seat.png) no-repeat left;
    background-size: contain;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
}
.si-model-row input[type=checkbox]:checked + label, 
label.seatselected {    
    background: url(../images/bus/seat-selected.png) no-repeat left;
    background-size: contain;
}

.si-disable {
    opacity: .3;
}
.si-gallery {
    margin: 15px 0 20px 0; 
}
.si-gallery-item {
    display: block;
    height: 80px;
    text-align: center;
    overflow: hidden;
    opacity: .7;
}
.si-gallery-item > img {
    height: 100%;   
}
.si-gallery-item:hover {
    opacity: 1;   
}



/* BUS MODEL */
.modal-bus {
    margin: 5% auto;
    width: 98%;
}
.bus-model {
    margin: 60px 0;
    padding: 30px 30px 30px 60px;
    height: 400px;
    background-size: contain;
    border: 2px solid #EEEEEE;
}
.modal-counter {
    float: left;
    font-weight: bold;
    font-size: 18px;
}


/* Page Content */
.page-content {
    min-height: 50vh;
}

/* Login Form */
.login-form {
    margin: 15px auto;
    width: 300px;
    text-align: center;
}
.login-form input[type=text],
.login-form input[type=password] {
    display: block;
    padding: 5px 15px;
    width: 100%;
}

/* Register Form */
.register-form {
    
}
.btn-reg-type {
    margin: 15px 0;
    width: 300px;
    display: inline-block;
}


/* Bottom BOX */
.bottom-box {
    margin: 60px 0 -60px 0;
    padding: 15px 0;
    background: #4D8FAC;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}


/* Footer */
.footer {
    margin: 60px 0 0 0;
    padding: 15px 0;
}
.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-nav > li {
    display: block;
}
.footer-nav > li > a {
    color: #000000;
    font-size: 12px;
}
.footer .sic-socials {
    position: static !important;
    margin: 30px 0 0 0;
}
.footer .sic-socials strong {
    color: #000000;   
}
.subfooter {
    padding: 15px 0;
    background: #f9f9f7;
}
.subfooter strong {
    margin: 0 30px 0 15px;
}
.subsub {
    padding: 15px 0;
    font-size: 12px;
}


.sic-socials {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: right;
}
.sic-socials strong {
    display: block;
    color: #FFF;
    font-size: 18px;
}
.sic-socials a {
    display: inline-block;
    margin: 15px 0 0 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #FFFFFF;
    color: #444444;
    border-radius: 50%;
}

.news-item .news-item-inn
{
    overflow: hidden;
}

.news-item .news-item-inn a img {
    height: 200px;
    min-width: 100%;
}








